$mainBtnColor: #00aeef;
$helpBtnColor: #ffff00;
$helpTextColor: #2c2c2c;

.btn {
  background-color: $mainBtnColor;
  border: none;
  outline: none;
  border-radius: 10px;
  min-width: 265px;
  min-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.support-button {
  color: $helpTextColor;
  background-color: $helpBtnColor;
}
