.gitconfig.local
Desktop.ini
ehthumbs.db
Thumbs.db
npm-debug.log
package-lock.json

.vscode
.idea
.settings

#Dev

.sass-cache
.tmp
node_modules
build
bower_components
phantomcss
*.map
browserify-cache.json